.cell-wp {
    width: 60px;
    height: 60px;
    float: left;
}

.cell-wp.left-col {
    width: 120px;
}

.cell {
    width: 100%;
    height: 100%;
    border-color: #eee;
    border-style: solid;
    border-width: 1px 0 0 1px;
    text-align: center;
}

.cell-wp:last-child .cell {
    border-right-width: 1px;
}

.player:last-child .cell {
    border-bottom-width: 1px;
}

.cell-half {
    float: left;
    width: 50%;
}

.left-col {
    line-height: 57px;
    text-align: center;
}

.head .left-col .cell {
    text-align: center;
}

.player .left-col .cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    text-transform: uppercase;
    color: rgba(131, 178, 186, 0.95);
}

.player :not(.left-col) .cell {
    font-size: 12px;
}

.cell-top {
    color: rgba(131, 178, 186, 0.95);
}
