.root {
    width: 60px;
    height: 60px;
    float: left;
}

.is_right .cell {
    border-right-width: 1px;
}

.is_bottom .cell {
    border-bottom-width: 1px;
}

.is_top.is_left .cell {
    border-radius: 10px 0 0 0;
}

.is_top.is_right .cell {
    border-radius: 0 10px 0 0;
}

.is_bottom.is_right .cell {
    border-radius: 0 0 0 10px;
}

.is_bottom.is_right .cell {
    border-radius: 0 0 10px 0;
}

.is_top {
    text-align: center;
}

.is_left {
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
    color: rgba(131, 178, 186, 0.95);
    line-height: 57px;
    text-align: center;
}

.is_scores {
    font-size: 12px;
}

.cell {
    width: 100%;
    height: 100%;
    border-color: #eee;
    border-style: solid;
    border-width: 1px 0 0 1px;
    text-align: center;
}

.top {
    color: rgba(131, 178, 186, 0.95);
}

.half {
    float: left;
    width: 50%;
}

.full { }
