<div>
    <div class="screen">
        <img class="main-image" src="<%= mainImageSrc %>">
        <div>
            <%= rowsHTML %>
        </div>
    </div>
    <button class="roll-button" data-main="roll" >GO</button>
    <div>
        <%= modalHTML %>
    </div>
</div>
