.root {
    width: 720px;
    margin: 0 auto 0 auto;
}
.image {
    margin: 50px auto 50px auto;
    display: block;
    position: absolute;
    top: -42px;
    left: 260px;
    width: 200px;
}

.button__wp {
    position:relative;
}

.author {
    padding: 0px 0px 30px 5px;
    color: #ccc;
    text-align: right;
}

.button {
    position: relative;
    font-size: 250%;
    margin: 50px auto;
    display: block;
    border-radius: 50%;
    border: none;
    color: #fff;
    padding: 121px 20px 20px 20px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    box-shadow: 0 2px rgba(243, 156, 18, 0.8);
    text-transform: uppercase;
    background: transparent;
    -webkit-appearance: caret;
}

.button:hover {
    box-shadow: 0 2px #652801;
    animation-name: shake;
}


