<div>
    <div class="screen">
        <div class="author">by Alex Afonin</div>
        <div>
            <%= rowsHTML %>
        </div>
        <div class="button-wp">
            <img class="main-image" src="<%= mainImageSrc %>">
            <button class="roll-button" data-main="roll" ></button>
        </div>
    </div>
    <div>
        <%= modalHTML %>
    </div>
</div>
