<div class="<%= cn.root %>">
    <div class="<%= cn.workspace %>">
        <div class="<%= cn.author %>">by Alex Afonin</div>
        <div> <%= tableHTML %> </div>
        <div class="<%= cn.button__wp %>">
            <img class="<%= cn.image %>" src="<%= imageSrc %>">
            <button class="<%= cn.button %>" data-main="roll" ></button>
        </div>
    </div>
    <div>
        <%= modalHTML %>
    </div>
</div>
