<div class="<%= cn._root %>">
    <div class="<%= cn.top %>">by Alex AFONIN for</div>
    <div class="<%= cn.bottom %>">Florian FEICHTINGER</div>
    <img class="<%= cn.image %>" src="<%= imgSrc %>" data-author="debug"/>
</div>
