.root {
    border: 5px solid transparent;
}

.is_head {
    text-align: center;
    line-height: 56px;
    font-size: 19px;
    color: rgba(131, 178, 186, 0.95);
}

.is_current {
    border-color: rgba(236, 240, 241, 0.46);
}
