body {
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.form-button {
    font-size: 14px;
    font-weight: 600;
    background: #ecf0f1;
    color: rgb(44, 62, 80);
    box-shadow: 0px 2px rgb(221, 221, 221);
    display: block;
    width: 228px;
    margin: 0 auto 0 auto;
    border-radius: 2px;
    padding: 13px 15px 11px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.form-button:hover {
    background: #E4E4E4;
}
